.table thead {
    background-color: #0d5eaf;
}

.property-text {
    font-size: 0.9rem;
    color: #6c757d;
}

.price-text {
    color: #1ca672 !important;
    font-weight: 600;
}

.action-btn2 {
    width: 120px;
    margin-bottom: 6px;
}

.avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
}

.table td {
    vertical-align: middle;
}

.footer-pagination {
    margin-top: 20px;
}