.home-container {
  padding: 40px;
  background-color: #f4f6f9;
  min-height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  color: #777;
  margin-bottom: 40px;
  font-weight: 700;
}

.cards-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #e9edf3;
  padding: 20px;
  border-radius: 12px;
  width: 320px;
}

.card h3 {
  margin-bottom: 15px;
  font-size: 16px;
  color: #718096;
  font-weight: 700;
}

.card h4 {
  margin-bottom: 15px;
  font-size: 16px;
  color: #718096;
  font-weight: 700;
}

.actions {
  display: flex;
  gap: 15px;
}

.action-item {
  flex: 1;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.action-item span {
  display: block;
  margin-top: 8px;
  font-size: 14px;
}

.green {
  background: #1abc9c;
}

.blue {
  background: #3498db;
}

.orange {
  background: #f39c12;
}

.action-item:hover {
  transform: translateY(-3px);
}

.address {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 22px;
  line-height: 1.5;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 14px;
}

.paid {
  color: #2ecc71;
}

.receipt-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  min-height: 38px;
}

.receipts-scroll {
  overflow-y: visible;
  padding-right: 4px;
}

.receipts-scroll.limit-5 {
  max-height: calc(5 * 48px);
  overflow-y: auto;
}

.pdf-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  background: #dfe6ee;
  cursor: pointer;
  font-size: 12px;
}

.pdf-btn:hover {
  background: #cfd8e3;
}
